{% block participantList %}    
    <div class="row">
        <div class="col s12 center">
            <h4>Liste des participants</h4>
        </div>
        <div class="col s12">
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Participation</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Alvin@live.net</td>
                    <td>5€</td>
                </tr>
                <tr>
                    <td>Alan@live.net</td>
                    <td>12€</td>
                </tr>
                <tr>
                    <td>Jonathan@live.net</td>
                    <td>7€</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}