{% extends 'base.html.twig' %}

{% block parallax %}

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="hide-on-med-and-down">
                    <h1 class="header center white-text light">Un cadeau commun à organiser?</h1>
                    <div class="row center">
                        <h5 class="header col s12 light">Anniversaire, pot de départ, crémaillère... N'avancez plus les frais !</h5>
                    </div>
                </div>
                <div class="hide-on-large-only">
                    <div class="row center">
                        <h5 class="header col s12 light">Un cadeau commun à organiser ?</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('images/11.jpg') }}" alt="Anniversaire, pot de départ, crémaillère... N'avancez plus les frais !"></div>
    </div>

{% endblock %}

{% block parallaxTitreCamp %}{% endblock %}

{% block customContent %}   
    <!--div class="row">
        <div class="col s12 center">
            <h4>Liste des Campagnes</h4>
        </div>
        <div class="col s12">
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Contnet</th>
                    <th>Goal</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Campagne One</td>
                    <td>Name one</td>
                    <td>Content one</td>
                    <td>20€</td>
                    <td>
                        <div class="btn-small white"><i class="material-icons teal-text">visibility</i></div>
                        <div class="btn-small white"><i class="material-icons teal-text">edit</i></div>
                        <div class="btn-small white"><i class="material-icons teal-text">delete</i></div>
                    </td>
                </tr>
                <tr>
                    <td>Campagne Two</td>
                    <td>Name Two</td>
                    <td>Content Two</td>
                    <td>10€</td>
                    <td>
                        <div class="btn-small white"><i class="material-icons teal-text">visibility</i></div>
                        <div class="btn-small white"><i class="material-icons teal-text">edit</i></div>
                        <div class="btn-small white"><i class="material-icons teal-text">delete</i></div>
                    </td>
                </tr>
                <tr>
                    <td>Campagne Three</td>
                    <td>Name Three</td>
                    <td>Content Three</td>
                    <td>1000€</td>
                    <td>
                        <div class="btn-small white"><i class="material-icons teal-text">visibility</i></div>
                        <div class="btn-small white"><i class="material-icons teal-text">edit</i></div>
                        <div class="btn-small white"><i class="material-icons teal-text">delete</i></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div-->
{% endblock %}

{% block commentCaMarche %}{% endblock %}

{% block parallaxCamp %}{% endblock %}

